nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 20px;
  & .loginNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    & .logout {
      margin-left: 1.5rem;
    }
  }
  & .logimg {
    margin-right: 1.3rem;
    color: rgba(0, 0, 0, 0.658);
  }
  & img {
    width: 200px;
  }
  & a,
  p {
    color: rgba(0, 0, 0, 0.658);
    text-decoration: none;
    font-weight: 600;
    margin-left: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }
}
