nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  & .loginNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
  }
  & .logimg {
    margin-right: 1.3rem;
    color: rgba(0, 0, 0, 0.658);
  }
  & img {
    width: 200px;
  }
  & a {
    color: rgba(0, 0, 0, 0.658);
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
